@import "../../style.scss";

i {
  padding-left: 0.5rem;

  &.red {
    color: $white;
  }
}

.card {
  p, li {
    margin: 1rem 0;
    color: $white;
  }

  a, a:visited {
    animation: changeColors 3s infinite;
    font-weight: bold;
  }
}

